h1 {
    margin-left: 450px;
    font-size: 30px;
}

p {
    font-size: 30px;
}

h2 {
    font-size: 30px;
    color: blueviolet;
    margin-left: 450px;
}

ul,
ol {
    font-size: 30px;
}

a {
    font-size: 30px;
    color: rgb(13, 233, 167);
}